name: code_quiz_app
description: A code quiz app for programming students
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # State Management
  flutter_riverpod: ^2.5.1
  
  # Code Syntax Highlighting
  flutter_highlight: ^0.7.0
  
  # Fonts
  google_fonts: ^6.1.0
  
  # Local Storage
  shared_preferences: ^2.2.3
  
  # Animations
  flutter_animate: ^4.5.0
  
  # Icons
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/questions/